@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');


.style1 {
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.style2 {
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.style3 {
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

body{

    margin: 0%;
    box-sizing: border-box;

}

/* Navbar */

nav{

    width: 100%;
    height: 10vh;
    display: flex;
    align-content: space-between;
    border-bottom: 1px solid black;
    box-shadow: 1px 1px 1px black;
    transition: all 0.5s ease;
    position: fixed;
    background-color: white;

}

nav:hover{

    height: 20vh;
    font-size: 30px;

}

.link_page{

    width: 33%;
    text-align: center;
    align-content: center;

}

.link_page > a{

    border: 1px solid black;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
    transition: all 0.5s;
    text-decoration: none;
    color: black;

}
  
.link_page > a:hover{

    background-color: black;
    color: aliceblue;
    height: 20vh;
    font-size: 30px;
    padding-left: 10%;
    padding-right: 10%;

}


/* Encabezado con la imagen */

header{

    height: 80vh;
    width: 100%;
    overflow: hidden;
    border-bottom: 3px solid black;

}

header > h1{

    padding: 1%;
    font-size: 90px;
    position: absolute;
    left: 15%;
    top: 30%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;

}

img{width: 100%;}



/* Contenido principal */
main{

    display: flex;
    width: 100%;

}

/* Espaciado de la izquierda */
.space{

    width: 20%;

}

.main_content{

    width: 60%;

}


h2{

    font-size: 50px;
    border-bottom: 2px solid black;

}

h3{

    text-decoration: underline;
    font-size: 40px;

}

p{

    font-size: 20px;

}

.flex_format{

    display: flex;

}

.flex_format > p{

    margin-top: 0%;
    width: 75%;
    height: 20vh;
    align-content: center;

}

.normal_image_X{

    border: 2px solid black;
    border-radius: 15px;

}

.normal_image_Y{

    border: 2px solid black;
    border-radius: 15px;
    height: 50vh;
    width: 45%;
    margin-left: 25%;

}

.image_flex_format{

    width: 30%;
    border: 2px solid black;
    border-radius: 15px;
    padding: 1%;
    height: 20vh;


}

.two_image{

    border: 2px solid black;
    padding: 1%;
    margin: 1%;
    border-radius: 15px;

}

.download_file{

    width: 25%;
    display: flex;
    height: 10vh;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;

}

.download_file:hover{

    box-shadow: 3px 3px 3px black;
    background-color: rgba(128, 128, 128, 0.1);
}

.download_file > img{

    width: 30%;

}

.download_file > a{

    align-content: center;
    text-align: center;
    width: 80%;
    text-decoration: none;
    color: black;

}

.flex_format_reverse{

    display: flex;
    width: 100%;
    height: 20vh;
    align-items: center;
}

.flex_format_reverse > img{

    width: 50%;
    margin: 1%;

}












/* RRHH */
.titulo-diagnostico {
    text-align: center;
    margin-top: 60px;
    font-size: 40px;
  }
  
  .diagnostico-simple {
    width: 100%;
    margin-top: 20px;
  }
  
  .fila {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .texto {
    width: 360px;
    font-size: 20px;
    padding: 20px;
    background-color: #f3f3f3;
    text-align: center;
    border-radius: 10px;
    margin: 50px;
  }
  
  .imagen img {
    max-width: 400px;
    margin: 10px;
  }
  
  /* pa que se ilumine al ponerse por encima del texto */
  .texto:hover {
    background-color: #e0f0ff;
  }
  
  .titulo-diagnostico2 {
    text-align: center;
    font-size: 40px;
    margin-top: 55px;
  }
  
  .diagnostico-simple2 {
    width: 90%;
    margin: auto;
    text-align: center;
  }
  
  .texto2 {
    max-width: 1100px;
    margin: 20px auto;
    background: #f3f3f3;
    padding: 25px;
    border-radius: 10px;
    font-size: 20px;
  }
  
  .fila2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .imagen2 {
    border: 2px solid black;
    border-radius: 8px;
    margin: 10px;
    padding: 5px;
  }
  
  .imagen2 img {
    width: 300px;
    height: auto;
  }
  

  
  /* Hover simple */
  .texto2:hover {
    background-color: #e0f0ff;
  }



  .titulo-diagnostico3 {
    text-align: center;
    margin-top: 80px;
    font-size: 40px;
    margin-bottom: 50px;

  }

  .titulo-diagnostico4 {
    text-align: center;
    margin-top: 120px;
    font-size: 40px;
    margin-bottom: 30px;

  }






#tabla-acciones-container {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
}


.tabla-titulo {
    color: #2c3e50;
    padding-bottom: 10px;
    
}


#tabla-acciones {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}


.tabla-encabezado {
    background-color: #f2f2f2;
}

.tabla-encabezado th {
    padding: 12px;
    text-align: center;
    font-size: 25px;

}


.fila-datos td {
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 20px;
    
}


.columna-accion {
    width: 40%;
}

.columna-herramienta {
    width: 60%;
    
}


.fila-datos:hover {
    background-color: #f5f5f5;
}



.texto3 {
    max-width: 700px;
    margin: 10px auto;
    background: #f3f3f3;
    padding: 25px;
    border-radius: 10px;
    font-size: 20px;
  }

  .imagen3 img {
    max-width: 400px;
    padding-left: 55%;
  }


  
  .imagen4 img {
    max-width: 300px;
    padding-left: 85%;
  }

