<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprovisionamiento</title>
    <link rel="stylesheet" href="../stylesheet/stylesheet.css">
</head>
<body>
   
    <nav class="style2">

        <section class="link_page">

            <a href="./GA.html">Gestión Administrativa</a>

        </section>

        <section class="link_page">

            <a href="./GD.php">Gestión Documental</a>

        </section class="link_page">

        <section class="link_page">

            <a href="./G_RRHH.php">RRHH</a>

        </section>

    </nav>

    <header>

        <img src="../img/fondo.png" alt="">

        <h1 class="syle1">Aprovisionamiento <br> (Control de proveedores)</h1>

    </header>

    <main>

        <section class="space"></section>

        <section class="main_content">

            <h2 class="style2">Problema</h2>

            <p class="style3">El proceso actual es totalmente manual. Las solicitudes se realizan en papel, se recogen y son aprobadas manualmente, y los pedidos se envían por correo electrónico. El seguimiento del material se lleva en libros físicos o en hojas de cálculo.</p> 
            
            <p class="style3"><b>O con más detalle...</b></p>

            <p class="style3">Los formularios al ser en papel provoca que a la hora de llevarse a cabe sea más lento, menos eficiente y sobretodo, puede conllevar errores humanos. <br> 
            A su vez, las revisiones y aprobaciones de las solicitudes, al ser también en papel, puede llegar a generar tardanzas de esas solicitudes, lo que nos podría dar una acumulación de los mismos.</p>

            <p class="style3">Los pedidos al ser por correo electrónico, provocaría una acumulación de correos y una posible descoordinación</p>

            <p class="style3">Al llevar el seguimiento en libros fisicos o hojas de cálculo físicas, no proporciona un seguimiento a tiempo real ni te dan la posibilidad de ser colaborativas.</p>

            <img class="normal_image_X" src="../img/fisico.png">

            <hr>

            <h2 class="style2">Propuestas de soluciones</h2>

            <h3 class="style2">Formulario digital</h3>

            <p class="style3">Hacer un formulario digital donde contenga una serie de puntos para evitar confusiones en los datos y tenga un acceso online. <br>
            Es decir, sustituir el formulario en papel por uno digital (Por ejemplo, Google Forms), donde contiene un control para evitar cualquier tipo de error en el formulario y a su vez podremos acceder desde cualquier sitio o dispositivo.</p>

            <img class="normal_image_X" src="../img/psolucion.png">

            
            <h3 class="style2">Aprobación electrónica</h3>

            <p class="style3">Las aprobaciones se realizan de manera electrónica, así no es necesario tenerlo de manera física.</p>

            <img class="normal_image_X" src="../img/ssolucion.png">

            
            <h3 class="style2">Seguimiento digital</h3>

            <p class="style3">Hacer una hoja de cálculo digital (Excel) o una Base de datos donde tengamos un seguimiento de los materiales. <br>
            Donde podríamos incluir las entradas y salidas (Acciones), incluso el estado de los pedidos, que haría que tengamos un mejor control del seguimiento.</p>

            <img class="normal_image_X" src="../img/tsolucion.png">

            <hr>

            <h2 class="style2">Objetivos del PTD</h2>

            <p class="style3">Eliminar el uso del papel e implementar el uso en digital, para reducir considerablemente el papel, haciendo que sea más rápido (automatización), ordenado y evitamos posibles errores humanos.</p>

            <img class="normal_image_X" src="../img/pobjetivo.png">

            <p class="style3">Optimizamos las aprobaciones haciendo que sean vía electrónica en lugar de física, lo que nos beneficiaría en el tiempo de espera, en el desarrollo de cada solicitud y sobretodo en el control de dichas aprobaciones.</p>

            <img class="normal_image_X" src="../img/sobjetivo.png">

            <p class="style3">Permitimos que cualquier profesor o personal tenga la oportunidad de acceder desde cualquier lugar y dispositivo, garantizando un trabajo más eficiente y ágil.</p>

            <img class="normal_image_X" src="../img/tobjetivo.png">

            <hr>

            <h2 class="style2">Acciones</h2>

            <p class="style3">En el caso del formulario se sugiere el uso de Google Forms o Microsoft Forms, donde tenga sus respectivos campos como obligatorios, una serie de comprobaciones como el tipo de material a solicitar y su cantidad e incluso para evitar problemas en la elaboración, opciones desplegables.</p>

            <img class="normal_image_X" src="../img/GoogleForms.png">

            <p class="style3">Para las aprobaciones electrónicas podemos llevar a cabo con el mismo Forms un vínculo con una Hoja de cálculo donde tenga almacenadas las respuestas de cada solicitud. <br> Dichas solicitudes serán avisadas a sus responables por correo o accediendo a misma hoja, como posible opción tenemos la posibilidad de tener una columna donde se pueda indicar el resultado de cada solicitud.</p>

            <img class="normal_image_X" src="../img/FormsExcel.png">

            <p class="style3">Para el seguimiento de los materiales tendremos una opción que es el mismo Excel que hemos utilizado en el anterior caso o una base de datos, donde tendremos un registro de todas las solicitudes aprobadas, el estado de los pedidos e incluso el inventario que tendríamos a nuestra disposición </p>

            <img class="normal_image_X" src="../img/ExcelBBDD.png">

            <hr>

            <h2 class="style2">Temporalización, Recursos necesarios y Responsables</h2>

            <p class="style3">Todo es recomendable y aconsejable que se lleve a cabo cuando se tenga completamente preparado tanto los recursos como los responables, no hay una fecha fija, pero cuanto antes se realice, antes se tendrán los resultados.</p>

            <p class="style3">En cuanto a los recursos digitales, necesitaremos la disponibilidad de un Microsoft Access si se requiere el uso de aplicaciones más elaboradas como Microsoft Forms, Excel o de la base de datos, aunque estas tienen sus alternativas de Google. <br> Y de recursos humanos se requiere del personal que se indicará a continuación:</p>

            <table id="table">
                <thead>
                    <td class="style3"><b>Acción</b></td>
                    <td class="style3"><b>Responable principal</b></td>
                </thead>
                <tbody>
                    <tr>
                        <td class="style3">Creación y Gestión del formulario digital</td>
                        <td class="style3">Coordinador o Personal Administrativo</td>
                    </tr>
                    <tr>
                        <td class="style3">Revisión y Aprobación de solicitudes</td>
                        <td class="style3">Dirección o Secretaría</td>
                    </tr>
                    <tr>
                        <td class="style3">Seguimiento del material</td>
                        <td class="style3">Personal administrativo de las compras</td>
                    </tr>
                </tbody>
            </table>

            <hr>

            <h2 class="style2">Medidas de seguimiento y Evaluación</h2>

            <p class="style3">Para comprobar que la implementación de esta digitalización ha cumplido o incluso superado los objetivos que han sido indicados, se pueden realizar una serie de medidas:</p>

            <p class="style3">La medida más aconsejable y clave sería una comparativa (Antes y Después) de la implementación, por ejemplo el tiempo entre solicitudes (envíos y respuestas). O estadísticas, como los errores que surgían antes y los actuales.</p>

            <p class="style3">También está la posibilidad de ver las opiniones de los profesores o docentes mediante encuestas, ya sean mensuales, trimestrales o anuales, aunque este último no es recomendable por el tiempo de reacción.</p>

            <p class="style3">Y la última medida pero igual de importante, un cíclo de comprobaciones al igual que las encuestas, aunque en este caso es más aconsejable que sean semanalmente o incluso en algún momento diariamente.</p>
            
        </section>

    </main>

</body>
</html>
