<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión Administrativa</title>

    <link rel="stylesheet" href="../stylesheet/stylesheet_GA.css">

</head>
<body>
    
    <nav class="style2">

        <section class="link_page">

            <a href="">Página</a>

        </section>

        <section class="link_page">

            <a href="">Página</a>

        </section class="link_page">

        <section class="link_page">

            <a href="">Página</a>

        </section>

    </nav>

    <header>

        <img src="../img/background_header_GA.png" alt="No se ha podido cargar la imagen">

        <h1 class="syle1">Gestión Administrativa</h1>

    </header>


    <main>

        <section class="space"></section>

        <section class="main_content">

            <h2 class="style2">Problema</h2>

            <article class="style3">

                <p>A la hora de asignar faltas de asistencia, ausencias y el horario, al aplicarlo a papel, aparte de que gastas material, a la hora de hacer actualizaciones o implementar los datos es mucho más tedioso y lento que hacerlo de manera digital. </p>

                <img class="normal_image_Y" src="../img/problem_image.png" alt="No se ha podido cargar la imagen">

            </article>

            <h2 class="style2">Propuestas</h2>

            <h3 class="style2">Excel</h3>

            <article class="style3 flex_format">

                <p>Hemos pensado en realizar una <strong>hoja excel</strong> para cada profesor, este contendrá un cálculo de faltas y retrasos los cuales se calcularán mediante un porcentaje.
                    
                <br><br>

                Si supera el <strong>9%</strong> el color será <strong>amarillo</strong>.

                <br><br>

                Si supera el <strong>17%</strong> el color será <strong>rojo</strong>.
                
                </p>

                <article class="download_file">

                    <img src="../img/excel_icon.png" alt="">

                    <a href="../files/Asistencia_alumnos.xlsx" download="Asistencia_alumnos">Descargar Excel</a>

                </article>


            </article>

            <article class="flex_format">

                <img class="two_image" src="../img/assist_percent.png" alt="">

                <img class="two_image" src="../img/assist.png" alt="">

            </article>

            <article class="style3">

                <p>Después, se implementarán todos los datos en una <strong>BBDD</strong> u otros ficheros dónde guardarán todos los datos de todos los alumnos y se podrán analizar los datos de manera sencilla y rápida  .</p>

            </article>

            <h3 class="style2">Método para fichar</h3>

            <article class="style3">

                <p>Por otro lado, podemos implementar un método mucho más rápido y sin gastar tiempo en pasar lista.

                    <br><br>

                    Este consiste en un dispositivo que se implementa en cada puerta de cada clase dónde escanea la tarjeta que se le dan a los alumnos y profesores. El dispositivo lee la tarjeta y busca en la <strong>Base de datos</strong> si está, si está mirará la hora actual y la comparará con la de llegada, si pasa la hora establecida 5 minutos, obtendrá un retraso, si pasa de 10 minutos, obtendrá una falta. Todo ello se implementará en una <strong>Base de datos</strong> o un <strong>Excel</strong> dónde se guardarán todos los registros.

                </p>

                <img class="normal_image_X" src="../img/method_fichar.png" alt="No se ha podido cargar la imagen">

            </article>

            <h3 class="style2">Google Calendar</h3>

            <article class="style3">

                <p>La utilización de un calendario compartido dónde se aplicarán todas las clases y sus respectivas horas es un buen método para la digitalización de él.</p>
                <p>Le podemos aplicar <strong>permisos</strong> a todos los usuarios (que serán los correos de los alumnos) al calendario específico. De esta manera sabrán todo lo que toca a cierta hora sólo conectándose al <strong>Google Calendar</strong>.</p>

                <img class="normal_image_X" src="../img/google_calendar.png" alt="No se ha podido cargar la imagen">

            </article>

            <h3 class="style2">Classroom</h3>

            <article class="style3">

                <p>La implementación del <strong>Classroom</strong> o un software propio de la escuela sería ideal para la realización de un calendario digital.</p>

                <img class="normal_image_X" src="../img/classroom.png" alt="No se ha podido cargar la imagen">

                <p>Se aplicarán todas las clases en esa aplicación y las diferentes tareas que se presenten serán reflejadas en ese calendario.</p>

            </article>

            <h2 class="style2">¿Qué queremos conseguir?</h2>

            <article class="style3">

                <p>Que los datos sean más eficientes y rápidos de encontrar. Al organizar datos se hace más ameno y puedes acceder desde cualquier dispositivo que contenga permisos.</p>

                <img class="normal_image_Y" src="../img/fast.png" alt="No se ha podido cargar la imagen">

            </article>

            <h2 class="style2">¿Cuando se harán las acciones?</h2>

            <article class="style3 flex_format">

                <p>Se realizarán cuando el profesorado que se encargue del calendario finalice con sus programas, de esta manera sólo hará falta que lo suba a <strong>Google Calendar</strong>. Cuando las clases comiencen, se les dará acceso a los alumnos al calendario sin poder editarlo.</p>

                <img class="image_flex_format" src="../img/icon_google_calendar.png" alt="No se ha podido cargar la imagen">

            </article>

            <br><br>

            <article class="style3 flex_format_reverse">

                <img class="image_flex_format" src="../img/icon_classroom.png" alt="No se ha podido cargar la imagen">

                <p>También, aplicarán todas las tareas por el <strong>Classroom</strong> después de implementar el calendario (si no tienen otro software) para que en el propio calendario de la app sepan que tareas previstas tienen.</p>

            </article>

            <br><br>

            <article class="style3">

                <p>Cuando ya obtengan toda la información necesaria de los alumnos, iremos con el <strong>Excel</strong>. Lo implementaremos al empezar la primera clase así podemos comprobar si la lista está bien asignada.
                
                <br><br>

                En él, está aplicado un máximo de <strong>90 días</strong>, que equivale a <strong>3 meses</strong>, que equivale a <strong>1 trimestre</strong>. Si prefieren más días o menos, se deberá de añadir celdas, copiar pegar las que ya existen y modificar la fórmula.

                    <br><br>

                <strong>=(CONTAR.SI(D5:CO5;"F") + (CONTAR.SI(D5:CO5;"R")/2))/90</strong>

                    <br><br>

                <strong>90</strong> -> Son los días.

                </p>
                

                <img class="normal_image_X" src="../img/operation_excel.png" alt="No se ha podido cargar la imagen">

            </article>

            <article class="style3">

                <p>Por otro lado, tenemos el método para fichar. Deberemos de implementar este método una vez realizado toda la <strong>Base de datos</strong> y un fichero u otro método para guardar los datos. Después, aplicaremos dispositivos para fichar en las puertas de las clases.
                
                    <br><br>

                Hay que tener en cuenta que debemos de contener un presupuesto elevado.

                </p>
                
                <img class="normal_image_X" src="../img/bbdd.png" alt="No se ha podido cargar la imagen">

            </article>

            <h2 class="style2">Recursos necesarios</h2>

            <article class="style3">

                <ul>
                    <li><p>Microsoft Office 365 - Excel</p></li>
                    <li><p>Cuenta de correo - Google calendar y Classroom</p></li>
                    <li><p>Cuentas de correo de pruebas - Google calendar y Classroom</p></li>
                    <li><p>Cuentas de Microsoft - Excel</p></li>
                    <li><p>Dispositivo para fichar</p></li>
                    <li><p>Programa de Base de datos</p></li>
                </ul>

            </article>

            <h2 class="style2">Responsables</h2>

            <article class="style3">

                <ul>
                    <li><p>Técnico informático - Dispositivo para fichar, Base de datos, Excel</p></li>
                    <li><p>Docente - Classroom</p></li>
                    <li><p>Administrativos - Gestión de cuentas de correo y alumnos</p></li>
                    <li><p>Electricista - Organización del dispositivo para fichar y diferentes dispositivos</p></li>
                </ul>

            </article>


















        </section>

        


    </main>



</body>
</html>