<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión Administrativa</title>

    <link rel="stylesheet" href="../stylesheet/stylesheet_GA.css">

</head>
<body>
    
    <nav class="style2">

        <section class="link_page">

            <a href="">Página</a>

        </section>

        <section class="link_page">

            <a href="">Página</a>

        </section class="link_page">

        <section class="link_page">

            <a href="">Página</a>

        </section>

    </nav>

    <header>

        <img src="../img/background_header_GA.png" alt="No se ha podido cargar la imagen">

        <h1 class="syle1">Gestión Administrativa</h1>

    </header>


    <main>

        <section class="space"></section>

        <section class="main_content">

            <h2 class="style2">Problemas</h2>

            <article class="style3">

                <p>A la hora de asignar faltas de asistencia, ausencias y el horario, al aplicarlo a papel, aparte de que gastas material, a la hora de hacer actualizaciones o implementar los datos es mucho más tedioso y lento que hacerlo de manera digital. </p>

                <img class="normal_image" src="../img/problem_image.png" alt="No se ha podido cargar la imagen">

            </article>

            <h2 class="style2">Propuestas</h2>

            <h3 class="style2">Excel</h3>

            <article class="style3 flex_format">

                <p>Hemos pensado en realizar una <strong>hoja excel</strong> para cada profesor, este contendrá un cálculo de faltas y retrasos los cuales se calcularán mediante un porcentaje.
                    
                <br><br>

                Si supera el <strong>9%</strong> el color será <strong>amarillo</strong>.

                <br><br>

                Si supera el <strong>17%</strong> el color será <strong>rojo</strong>.
                
                </p>

                <article class="download_file">

                    <img src="../img/excel_icon.png" alt="">

                    <a href="../files/Asistencia_alumnos.xlsx" download="Asistencia_alumnos">Descargar Excel</a>

                </article>


            </article>

            <article class="flex_format">

                <img class="two_image" src="../img/assist_percent.png" alt="">

                <img class="two_image" src="../img/assist.png" alt="">

            </article>

            <article class="style3">

                <p>Después, se implementarán todos los datos en una <strong>BBDD</strong> u otros ficheros dónde guardarán todos los datos de todos los alumnos y se podrán analizar los datos de manera sencilla y rápida  .</p>

            </article>

            <h3 class="style2">Classroom</h3>

            <article class="style3">

                <p>La implementación del <strong>Classroom</strong> o un software propio de la escuela sería ideal para la realización de un calendario digital.</p>

                <img class="normal_image" src="../img/classroom.png" alt="No se ha podido cargar la imagen">

                <p>Se aplicarán todas las clases en esa aplicación y las diferentes tareas que se presenten serán reflejadas en ese calendario.</p>

            </article>

            <h2 class="style2">¿Qué queremos conseguir?</h2>

            <article class="style3">

                <p>Que los datos sean más eficientes y rápidos de encontrar. Al organizar datos se hace más ameno y puedes acceder desde cualquier dispositivo que contenga permisos.</p>

                <img src="" alt="No se ha podido cargar la imagen">

            </article>


        </section>

        


    </main>



</body>
</html>